/**
 * @var {Boolean} textareaResize Allow resizing of textarea fields
 * @group config
 */
/**
 * A collection of beautiful predefined colors
 * @module colors
 */
/**
 * Color ocean blue
 * @var {color}
 */
/**
 * Color lagoon blue
 * @var {color}
 */
/**
 * Color dark lagoon blue
 * @var {color}
 */
/**
 * Color deep blue
 * @var {color}
 */
/**
 * Color purplePlum
 * @var {color}
 */
/**
 * Color purpleStone
 * @var {color}
 */
/**
 * Color blackBerry
 * @var {color}
 */
/**
 * Color fire red
 * @var {color}
 */
/**
 * Color bloody red
 * @var  {color}
 */
/**
 * Color pretty sunrise
 * @var  {color}
 */
/**
 * Color green bird
 * @var {color}
 */
/**
 * Color green grass
 * @var {color}
 */
/**
 * Color yellow glow
 * @var {color}
 */
/**
 * Color yellow snow
 * @var {color}
 */
/**
 * Color shark grey
 * @var {color}
 */
/**
 * Color shark grey
 * @var {color}
 */
/**
 * Color shark grey
 * @var {color}
 */
/**
 * Color night grey
 * @var {color}
 */
/**
 * Color dessert sand
 * @var {color}
 */
/**
 * Color brown bear
 * @var {color}
 */
.overflowEllipsis {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
.hidden {
  display: none;
}
/**
 * Resets predefined css properties of common html tags
 * 
 * @module reset
 */
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-size: 13px;
  font-family: sans-serif;
  margin: 0;
}
/**
 * The dcButton module styles different buttons.
 * This module must be activated in *less mode* by adding `.dcButtons();` to your main.less file.
 * 
 * @module dcButtons
 */
/**
 * Button
 *
 * html:
 * 
 * <button type="button" class="button">
 *   <span class="icon icon-code"></span>
 *   <span class="text">MyButton</span>
 * </button>
 */
.button {
  display: inline-block;
  background-color: #ececec;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0;
  box-sizing: border-box;
  transition: border-color 300ms;
  outline: none;
}
.button .text {
  padding: 0 5px;
  color: #1854b1;
  vertical-align: middle;
  line-height: 24px;
  font-size: 14px;
}
.button .icon {
  vertical-align: middle;
}
.button:hover {
  border: 1px solid #1854b1;
}
.button::-moz-focus-inner {
  border: none;
}
.button:focus {
  outline: none;
}
/**
 * Icon
 *
 * html:
 *
 * <any class="icon icon-code" />
 */
.icon {
  background-image: url('templates/deep-space/less/dresscode/sprite-48.png');
  background-size: 24px 48px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
}
.pageBody {
  margin: 0 auto;
  max-width: 1000px;
}
.docu .pageContent {
  margin-left: 250px;
}
.pageLeft {
  width: 250px;
  float: left;
  left: 0;
  top: 50px;
  padding: 10px;
  box-sizing: border-box;
}
.pageContent {
  padding: 10px;
}
.pageFooter {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  padding: 10px;
  font-size: 11px;
  padding-left: 250px;
  text-align: center;
  color: #666;
  margin-top: 30px;
}
.pageHeader {
  width: 100%;
  background-color: #232323;
  color: #fff;
  box-sizing: border-box;
  padding: 10px;
  z-index: 2;
}
.pageHeader .headerContent {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
.pageHeader .headerContent {
  height: 150px;
}
.pageHeader .name {
  font-size: 33px;
  display: inline-block;
}
.pageHeader .version {
  display: inline-block;
  font-size: 15px;
  margin-left: 10px;
}
.pageHeader a.logoLink:link,
.pageHeader a.logoLink:active,
.pageHeader a.logoLink:visited {
  color: #fff;
  text-decoration: none;
}
.pageHeader .mainNavi {
  position: absolute;
  right: 0;
  top: 0;
}
.pageHeader .mainNavi .links {
  display: inline-block;
}
.pageHeader .mainNavi a:link,
.pageHeader .mainNavi a:active,
.pageHeader .mainNavi a:visited {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  color: #fff;
  margin-right: 5px;
}
.pageHeader .mainNavi a:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.pageNavi {
  background-color: #343434;
}
.pageNavi .naviContent {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}
.pageNavi a:link,
.pageNavi a:active,
.pageNavi a:visited {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  color: #fff;
  margin-right: 5px;
}
.pageNavi a:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.pageLeft .moduleBlock {
  background-color: #eee;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}
.pageLeft .moduleBlock h1 {
  color: #555;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
.pageLeft .moduleBlock h2 {
  color: #666;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
.pageLeft .moduleBlock a:link,
.pageLeft .moduleBlock a:active,
.pageLeft .moduleBlock a:visited {
  color: inherit;
  text-decoration: none;
}
.pageLeft .groupBlockItem {
  list-style-type: none;
  padding: 0;
}
.pageLeft .groupBlockItem li {
  list-style-type: none;
}
.pageLeft .groupBlockItem a:link,
.pageLeft .groupBlockItem a:active,
.pageLeft .groupBlockItem a:visited {
  color: #111;
  text-decoration: none;
}
.pageLeft .pageLinks .link {
  display: block;
}
.pageLeft .pageLinks a:link,
.pageLeft .pageLinks a:active,
.pageLeft .pageLinks a:visited {
  color: #111;
  text-decoration: none;
  display: inline-block;
  padding: 2px 5px;
}
.pageLeft .pageLinks a:link:before,
.pageLeft .pageLinks a:active:before,
.pageLeft .pageLinks a:visited:before {
  content: '›';
  margin-right: 5px;
}
.pageLeft .pageLinks a:hover {
  background-color: #0051cd;
  color: #fff;
  border-radius: 5px;
}
.pageContent h1 {
  font-size: 24px;
  font-weight: bold;
  color: #555555;
  margin-bottom: 10px;
}
.pageContent h1 .version {
  color: #333;
  font-size: 11px;
  display: inline-block;
  border-radius: 5px;
  background-color: #555555;
  color: #fff;
  padding: 2px 5px;
  position: relative;
  left: 10px;
  top: -10px;
}
.pageContent h2 {
  font-size: 20px;
  font-weight: bold;
  color: #555555;
  margin-bottom: 10px;
}
.pageContent h3 {
  font-size: 18px;
  font-weight: bold;
  color: #0051cd;
  margin-bottom: 10px;
}
.pageContent h4 {
  font-size: 15px;
  font-weight: bold;
  color: #232323;
  margin-bottom: 10px;
}
.pageContent h5 {
  font-size: 12px;
  font-weight: bold;
  color: #555555;
  margin-bottom: 5px;
}
.pageContent a:link,
.pageContent a:visited,
.pageContent a:active {
  color: #0051cd;
  text-decoration: none;
}
.pageContent a:hover {
  text-decoration: underline;
}
.pageContent .groupBlockItem,
.pageContent .itemBlockContent {
  margin-bottom: 30px;
}
.pageContent .codeBox {
  max-height: 200px;
  overflow: auto;
  background-color: #111;
  border-radius: 10px;
  color: #ddd;
  padding: 7px;
}
.pageContent .codeBlock {
  white-space: pre;
  font-family: monospace;
  background-color: #14171A;
  padding: 0;
}
.pageContent .description {
  font-size: 14px;
  margin-bottom: 20px;
}
.pageContent .description code {
  display: inline-block;
  border: 1px solid #c0c0c0;
  padding: 2px;
  color: #444;
}
.pageContent .noDescrition {
  color: #333;
}
.pageContent .preview {
  margin-bottom: 20px;
}
.pageContent .preview .cssColorPreview {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  position: relative;
}
.pageContent .preview .cssColorName {
  position: absolute;
  left: 0;
  bottom: 36px;
  right: 0;
  text-align: center;
  display: block;
  background-color: rgba(255, 255, 255, 0.7);
  line-height: 26px;
  font-size: 18px;
  opacity: 0;
  -o-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.pageContent .preview .cssColorName:hover {
  opacity: 1;
}
.pageContent .labels {
  margin-left: 10px;
  font-size: 13px;
}
.pageContent .labelConstructor {
  background-color: #967657;
}
.pageContent .labelPrivate {
  background-color: #b10000;
}
.pageContent .labelProtected {
  background-color: #ff7e00;
}
.pageContent .labelDeprecated {
  background-color: #b10024;
}
.pageContent .labelUnimplemented {
  background-color: #e1ff00;
  color: #000;
}
.pageContent .labelObject {
  background-color: #000;
  color: #fff;
}
.pageContent .labelFunction {
  background-color: #430069;
}
.pageContent .labelArray {
  background-color: #000;
  color: #fff;
}
.pageContent .labelNumber {
  background-color: #000;
  color: #fff;
}
.pageContent .labelAny {
  background-color: #000;
  color: #fff;
}
.pageContent .labelString {
  background-color: #000;
  color: #fff;
}
.pageContent .labelBoolean {
  background-color: #000;
  color: #fff;
}
.pageContent .labelColor {
  background-color: #000;
  color: #fff;
}
.pageContent .dataTypes {
  margin-left: 5px;
}
.pageContent .dataType {
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: normal;
  vertical-align: middle;
  background-color: #555555;
}
.pageContent .paramBlock {
  margin-bottom: 20px;
}
.pageContent .paramTable td {
  font-size: 13px;
}
.pageContent .returnValue h5 {
  display: inline-block;
}
.pageContent .returnValue p {
  display: inline-block;
  padding-left: 10px;
}
.pageContent .returnDatatype {
  font-weight: normal;
  color: #000;
}
.pageContent .registrar {
  color: #555555;
}
.pageContent .webLinks {
  margin-bottom: 10px;
}
/**
     * Reset h1 - h6 tags
     * 
     * @action headlines
     */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 12px;
  font-weight: normal;
  margin: 0;
}
/**
     * Reset ul and li tags
     * 
     * @action lists
     */
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
p {
  margin: 0;
}
.label {
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: normal;
  vertical-align: middle;
}
.labelRed {
  background-color: #b10000;
}
.labelDarkRed {
  background-color: #b10024;
}
.labelBlue {
  background-color: #0051cd;
}
.labelPurple {
  background-color: #7a00ad;
}
.lableDarkPurple {
  background-color: #430069;
}
.labelGrey {
  background-color: #555555;
}
.labelOrangeRed {
  background-color: #ff7e00;
}
.labelBrown {
  background-color: #967657;
}
.labelDarkGreen {
  background-color: #00826a;
}
.labelGreen {
  background-color: #008b12;
}
.labelYellow {
  background-color: #e1ff00;
  color: #000;
}
.labelBlack {
  background-color: #000;
  color: #fff;
}
table.dcTable {
  border: 1px solid #c0c0c0;
  border-collapse: collapse;
  border-radius: 5px;
  width: 100%;
}
table.dcTable caption {
  border-bottom: none;
  background-color: #0051cd;
  color: #fff;
  padding: 5px;
}
table.dcTable thead {
  background-color: #ddd;
  font-weight: bold;
}
table.dcTable thead td {
  padding: 5px;
}
table.dcTable td {
  border-left: 1px solid 1px solid #c0c0c0;
  padding: 5px;
  vertical-align: top;
  font-size: 14px;
}
