.pageLeft {
    .tree {

    }

    .tree {
        padding-left: 10px;

        &.package {
            border-radius: 5px;
            margin-bottom: 2px;
            padding: 3px;

            .packageLink {
                &:before {
                    content: '';
                    width: 16px;
                    height: 16px;
                    display: inline-block;
                    background-image: url(img/package128.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    vertical-align: middle;
                    margin-right: 3px;
                }

                vertical-align: middle;
                font-weight: bold;
                font-size: 15px;
            }

            .moduleLink {
                &:before {
                    content: '';
                    width: 14px;
                    height: 14px;
                    display: inline-block;
                    background-image: url(img/module96.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                font-weight: bold;
                font-size: 15px;
            }

            .groupLink {
                &:before {
                    content: '';
                    width: 14px;
                    height: 14px;
                    display: inline-block;
                    vertical-align: middle;
                }

                font-weight: bold;
                font-size: 15px;
            }

            .contentLink {
                &:before {
                    content: '›';
                    display: inline-block;
                    vertical-align: middle;
                    padding-right: 5px;
                }

                font-size: 13px;
            }
        }
    }

    .link:link,
    .link:visited,
    .link:active {
        display: inline-block;
        padding: 2px 5px;
        text-decoration: none;
        color: #555;
    }

    .link:hover {
        color: #333;
        background-color: #bcb;
        border-radius: 5px;
    }
}
