/**
 * @var {Boolean} textareaResize Allow resizing of textarea fields
 * @group config
 */
/**
 * Color ocean blue
 * @var {color}
 * @group colors
 */
/**
 * Color lagoon blue
 * @var {color}
 * @group colors
 */
/**
 * Color dark lagoon blue
 * @var {color}
 * @group colors
 */
/**
 * Color fire red
 * @var {color}
 * @group colors
 */
/**
 * Color shark grey
 * @var {color}
 * @group colors
 */
/**
 * Color shark grey
 * @var {color}
 * @group colors
 */
/**
 * Color shark grey
 * @var {color}
 * @group colors
 */
/**
 * Color night grey
 * @var: {color}
 */
.overflowEllipsis {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
/**
 * Resets predefined css properties of common html tags
 * 
 * @module reset
 */
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-size: 13px;
  font-family: sans-serif;
  margin: 0;
}
/**
 * Button
 *
 * html:
 * 
 * <button type="button" class="button">
 *   <span class="icon icon-code"></span>
 *   <span class="text">MyButton</span>
 * </button>
 */
.button {
  display: inline-block;
  background-color: #ececec;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0;
  box-sizing: border-box;
  transition: border-color 300ms;
  outline: none;
}
.button .text {
  padding: 0 5px;
  color: #1854b1;
  vertical-align: middle;
  line-height: 24px;
  font-size: 14px;
}
.button .icon {
  vertical-align: middle;
}
.button:hover {
  border: 1px solid #1854b1;
}
.button::-moz-focus-inner {
  border: none;
}
.button:focus {
  outline: none;
}
/**
 * Icon
 *
 * html:
 *
 * <any class="icon icon-code" />
 */
.icon {
  background-image: url('less/dresscode/sprite-48.png');
  background-size: 24px 48px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
}
.pageBody {
  margin-left: 250px;
}
.pageLeft {
  width: 250px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 50px;
  background-color: #ddd;
  padding: 10px;
  box-sizing: border-box;
}
.pageContent {
  padding: 60px 10px 10px 10px;
}
.pageFooter {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  padding: 10px;
  font-size: 11px;
  padding-left: 250px;
  text-align: center;
  color: #666;
  margin-top: 30px;
}
.pageHeader {
  width: 100%;
  height: 50px;
  background-color: #0051cd;
  color: #fff;
  box-sizing: border-box;
  padding: 10px;
  position: fixed;
  z-index: 2;
}
.pageHeader .name {
  font-size: 23px;
  display: inline-block;
}
.pageHeader .version {
  display: inline-block;
  font-size: 15px;
  margin-left: 10px;
}
.pageLeft .moduleBlock {
  background-color: #eee;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}
.pageLeft .moduleBlock h1 {
  color: #555;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
.pageLeft .moduleBlock h2 {
  color: #666;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
.pageLeft .moduleBlock a:link,
.pageLeft .moduleBlock a:active,
.pageLeft .moduleBlock a:visited {
  color: inherit;
  text-decoration: none;
}
.pageLeft .groupBlockItem {
  list-style-type: none;
  padding: 0;
}
.pageLeft .groupBlockItem li {
  list-style-type: none;
}
.pageLeft .groupBlockItem a:link,
.pageLeft .groupBlockItem a:active,
.pageLeft .groupBlockItem a:visited {
  color: #111;
  text-decoration: none;
}
.pageContent h1 {
  font-size: 24px;
  font-weight: bold;
  color: #555555;
  margin-bottom: 10px;
}
.pageContent h1 .version {
  color: #333;
  font-size: 11px;
  display: inline-block;
  border-radius: 5px;
  background-color: #555555;
  color: #fff;
  padding: 2px 5px;
  position: relative;
  left: 10px;
  top: -10px;
}
.pageContent h2 {
  font-size: 20px;
  font-weight: bold;
  color: #555555;
  margin-bottom: 10px;
}
.pageContent h3 {
  font-size: 18px;
  font-weight: bold;
  color: #0051cd;
  margin-bottom: 10px;
}
.pageContent h4 {
  font-size: 15px;
  font-weight: bold;
  color: #232323;
  margin-bottom: 10px;
}
.pageContent .groupBlockItem,
.pageContent .itemBlock {
  margin-bottom: 30px;
}
.pageContent .codeBox {
  max-height: 200px;
  overflow: auto;
  background-color: #111;
  border-radius: 10px;
  color: #ddd;
  padding: 7px;
}
.pageContent .code {
  white-space: pre;
  font-family: monospace;
}
.pageContent .description {
  font-size: 14px;
  margin-bottom: 20px;
}
.pageContent .noDescrition {
  color: #333;
}
.pageContent .preview .cssColorPreview {
  width: 100px;
  height: 100px;
  text-align: center;
}
.pageContent .labels {
  margin-left: 10px;
}
.pageContent .labelConstructor {
  background-color: #b10000;
}
.pageContent .dataTypes {
  margin-left: 5px;
}
.pageContent .dataType {
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: normal;
  vertical-align: middle;
  background-color: #555555;
}
/**
     * Reset h1 - h6 tags
     * 
     * @action headlines
     */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 12px;
  font-weight: normal;
  margin: 0;
}
/**
     * Reset ul and li tags
     * 
     * @action lists
     */
ul,
li {
  margin: 0;
  list-style-type: none;
}
.label {
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: normal;
  vertical-align: middle;
}
.labelRed {
  background-color: #b10000;
}
.labelBlue {
  background-color: #0051cd;
}
.labelGrey {
  background-color: #555555;
}
