.pageContent {
    .codeBox {
        max-height: 200px;
        overflow: auto;
        background-color: #111;
        border-radius: 10px;
        color: #ddd;
        padding: 7px;
    }

    .code {
        white-space: pre;
        font-family: monospace;
    }

    .description {
        font-size: 14px;
    }

    .noDescrition {
        color: #333;
    }

    .preview {
        .cssColorPreview {
            width: 100px;
            height: 100px;
            text-align: center;
        }
    }

    
}
