.pageHeader {
    width: 100%;
    height: 50px;
    background-color: @lagoonBlue;
    color: #fff;
    box-sizing: border-box;
    padding: 10px;
    position: fixed;
 
    .name {
        font-size: 23px;
        display: inline-block;
        
    }

    .version {
        display: inline-block;
        font-size: 15px;
        margin-left: 10px;
    }
}
