.pageLeft {
    .moduleBlock {
        background-color: #eee;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 10px;

        h1 {
            color: #555;
            font-size: 16px;
            font-weight: bold;
            margin: 0 0 10px 0;
            .overflowEllipsis;
        }

        h2 {
            color: #666;
            font-size: 12px;
            font-weight: bold;
            margin: 0;
            .overflowEllipsis;
        }

        a:link,
        a:active,
        a:visited {
            color: inherit;
            text-decoration: none;
        }
    }

    .groupBlockItem {
        list-style-type: none;
        padding: 0;
        
        li {
            list-style-type: none;
        }

        a:link,
        a:active,
        a:visited {
            color: #111;
            text-decoration: none;
        }
    }

    .pageLinks {
        .link {
            display: block;
        }
        
        a:link,
        a:active,
        a:visited {
            color: #111;
            text-decoration: none;
            display: inline-block;
            padding: 2px 5px;

            &:before {
                content: '›';
                margin-right: 5px;
            }
        }

        a:hover {
            background-color: @lagoonBlue;
            color: #fff;
            border-radius: 5px;
        }
    }

    .subNavi {
        margin-top: 10px;
    }
}
