$greenFrog = #256E2B
$orangeSun = #F1BE2D
$redCherry = #972D36
$purplePlum = #4A176D
$yellowSnow = #EAFF00
$brownWood = #645028
$blueLagoon = #1665E5

.label
    border-radius 5px
    padding 4px
    font-size 14px
    color #fff
    
.label-public
    background-color $greenFrog

.label-protected
    background-color $orangeSun

.label-private
    background-color $redCherry
    
.label-version
    background-color $redCherry

.label-unimplemented
    background-color $purplePlum

.label-beta
    background-color $blueLagoon
    
.label-new
    background-color $yellowSnow
    color #000

