$frogGreen = darkgreen
$orangeSun = orangered;
$fireRed = darkred;

.label
    border-radius 5px
    padding 4px
    font-size 14px
    color #fff
    
.label-public
    background-color $frogGreen

.label-protected
    background-color $orangeSun

.label-private
    background-color $fireRed
    
.label-version
    background-color $fireRed