.lz-sharky-table
    background-color #ddd
    min-width 500px
    font-size 13px
    border-radius 5px
    border-collapse collapse

    thead
        td
            background-color #ccd
            font-size 11px
            
            &:first-child
                border-top-lef-radius 5px

            &:last-child
                border-top-right-radius 5px
    td
        padding 3px 5px
        color #333
